.explore-campus {
    background: #ffffff url("../images/campus-video-v-1-mobile.jpg") no-repeat center;
    min-height: 250px;
    height: 66vw;
    width: 100%;
    background-size: cover;

    @include lg {
      background: #ffffff url("../images/campus-video-v-1@2x.jpg") no-repeat top center;
      min-height: 800px;
      background-size: cover;
      height: auto;
    }

    p {
        @extend %h1;

        $min_width: 568px;
        $max_width: 1600px;
        $min_font: 32px;
        $max_font: 48px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
        
        line-height: 1.083em;
        letter-spacing: -0.8px;
        width: 259px;
        text-align: right;
        margin-right: 2.4rem;
    }

    .video-cta {
      display: flex;
      flex: 1;
      cursor: pointer;
    }
    
    img {
      width: 6rem;

      @include md {
        width: auto;
      }
    }
}