.manifesto {
  background-color: #000;
  color: #fff;
  padding: 2rem 1rem;
  @include sm {
    background: #000 url("../images/deakin-twin-stencil.png") no-repeat left
      center;
  }
  .tri-outline {
    @include sm {
      width: 12%;
    }
  }
  h1 {
    @extend %h1;
    $min_width: 568px;
    $max_width: 1200px;
    $min_font: 32px;
    $max_font: 42px;

    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    letter-spacing: -0.53px;
    line-height: 1em;

    @include sm {
      letter-spacing: -0.8px;
      line-height: 1em;
    }
  }
  span {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
}
