// Breakpoints

// Small tablets and large smartphones (landscape view)
$screen-xs-min: 576px; // Not in use currently

// Small tablets (portrait view)
$screen-sm-min: 768px;

// Tablets and small desktops
$screen-md-min: 992px;

// Large tablets and desktops
$screen-lg-min: 1200px;

// X-Large desktops
$screen-xlg-min: 1500px;

// Fonts

$font-stack-xl: "UniversLTStd-BoldCn", sans-serif;
$font-worldly-light: "Worldly Light";
$font-worldly-regular: "Worldly Regular";
$font-worldly-bold: "Worldly Bold";
$font-stack-os-bold: "Open Sans Bold", Arial, sans-serif;
$font-stack-os-regular: "Open Sans", Arial, sans-serif;

// Colors

$yellow: #ffd923;
$magenta: #c74298;
$blue: #007d9b;
$teal: #0c8573;
$orange: #f76919;
$white: #ffffff;
$charcoal: #363635;
$light-grey: #f5f5f5;
$black: #000000;
$red: #ff0000;
