$font-stack-xl: "UniversLTStd-BoldCn", sans-serif;
$font-worldly-light: "Worldly Light";
$font-worldly-regular: "Worldly Regular";
$font-worldly-bold: "Worldly Bold";
$font-stack-os-bold: "OpenSansBold", Arial, sans-serif;
$yellow: #ffd923;
$magenta: #c74298;
$blue: #007d9b;
$teal: #0c8573;
$orange: #f76919;