# dependencies
node_modules
src/data/*
src/style/main.css
src/style/main.css.map
webpack/webpack.common.js
backups

# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
