// float: right;
// margin-left: 5px;
// border-radius: 20px;
// background-color: #0c8573;
// padding: .65rem;
// text-transform: uppercase;
// color: transparent;
// text-shadow: 0 0 0 #fff;
// font-family: "Open Sans", Arial, sans-serif;

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 1.8rem 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-top: 1px solid #eee;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    span {
        font-family: "Worldly Bold";
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin: 0;

        &.button-text {
            content: "\2795";
            color: #fff;
            margin-left: 5px;
            border-radius: 20px;
            background-color: #0c8573;
            padding: .65rem;
            text-transform: uppercase;
            color: transparent;
            text-shadow: 0 0 0 #fff;
            font-family: "Open Sans", Arial, sans-serif;
            font-size: 0;
            height: 26px;
            width: 26px;
            
            @include lg {
                font-size: 1.6rem;
                width: 9.2rem;
                text-align: center;
                height: auto;
            }

            &:before {
                content: "\2795";
                font-size: 1.6rem;

                left: 4px;
                top: 2px;
                position: relative;

                @include lg {
                    position: initial;
                    left: 0;
                    top: 0;
                }
            }
        }
    }

    &.active + .panel {
        max-height: 450px;
    }

    &.active {
        span {
            &.button-text {
                background-color: $black;
                
                &:before {
                    content: "\2796";
                }
            }
        }
    }
}

.panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}