.comps {
  padding: 1rem;
  position: relative;


  @include sm {
    margin-top: -12rem;
    margin-bottom: 10rem;
  }
  #comps-button {
    margin: 2rem 0;
    display: block;
    text-align: center;
    width: 60%;
    padding: 1.5rem 2rem;
    @include sm {
      width: auto;
      padding: 1rem 2rem;
    }
   
    @include md {
      display: inline-block;
      text-align: left;
    }
  }
  
  div:first-child {
    margin-top: -4rem;
    z-index: 1;
  }
  
  h2 {
    @extend %h2;
    $min_width: 768px;
    $max_width: 1600px;
    $min_font: 32px;
    $max_font: 48px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    @include md {
      color: #fff;
      // font-size: 4.8rem;
      line-height: 5rem;
      margin-top: 0;
    }
  }
  
  img {
    width: 100%;
  }

  // Location page comp section
  
  &-location-page {
    position: relative;
    margin-top: 0;
    margin-bottom: 5.5rem;
    
    @include md {
      margin-bottom: 12.5rem;
    }

    div:first-child {
      margin-top: 5.2rem;
      margin-bottom: 1.5rem;      

      @include md {
        margin-top: -4rem;
      }
    }

    .icon-triangle {
      position: absolute;
      top: -1rem;
      width: 8.6rem;
      margin-left: 7rem;

      @include md {
        top: -10rem;
      }
    }

    h2 {
      color: $black;
    }

    .comp-info {
      @include md {
        margin-left: 3.4rem;
        padding-right: 2rem;
        padding-top: 6.5rem;
      }

      ul, ol, li {
        padding: 0;
        font-family: $font-worldly-regular;
        font-size: 1.6rem;
        line-height: 1.63em;
      }
    }
  }
}
