// ------- Common styles



html {
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: $font-worldly-light;
}
body p {
  font-family: $font-worldly-light;
  font-size: 1.6rem;
  line-height: 2.6rem;
  overflow-x: hidden;
}

a.button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: $font-stack-os-bold;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

%h1, %h2, %h4 {
  font-family: $font-stack-xl;
  text-transform: uppercase;
  font-size: 3.4rem;
  line-height: 3.4rem;
}

%h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
}

%h3 {
  font-family: $font-worldly-bold;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin:0;
}

%h5 {
  font-family: $font-worldly-regular;
  font-size: 2rem;
  font-weight: normal;
  margin:0;
}

.mobile-version {
  display: block;
  @include lg {
    display: none;
  }
}

.desktop-version {
  display: none;
  @include lg {
    display: block;
  }
}