// ------- Common styles

html {
  // overflow-x: hidden;
  max-width:100%;
  font-size: 62.5%;
}
body {
  // overflow-x: hidden; 
  p {
    font-family: $font-worldly-light;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.6rem;
    overflow-x: hidden;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mktoForm[data-styles-ready="true"] {
  visibility: hidden;
  display: none;
}

.button, .btn {
  border-radius: 2.5rem;
  padding: 1rem 2rem;
  border: 1px solid $teal;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: $font-stack-os-bold;
  background: $teal;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  height: 5rem;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &-inverse {
    background: $white;
    color: $teal;
  }

  &.magenta {
    background: $magenta;
    border: 1px solid $magenta;

    &-inverse {
      background: $white;
      color: $magenta;
    }
  }

  @include md {
    max-width: fit-content;
  }
}

%h1, %h2, %h4 {
  font-family: $font-stack-xl;
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: normal;
  // line-height: 3.4rem;
}

%h2 {
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 3.2rem;
}

%h3 {
  font-family: $font-worldly-bold;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.2rem;
  margin:0;
}

%h5 {
  font-family: $font-worldly-regular;
  font-size: 2rem;
  font-weight: normal;
  margin:0;
}

.mobile-version {
  display: block;
  @include md {
    display: none;
  }
}

.desktop-version {
  display: none;
  @include md {
    display: inline-block;
  }
}

.modal-noscroll {
  overflow: hidden;
}



.flexContainer {
  display: flex;
  flex: 1;

  &--column {
    flex-direction: column;

    &__mobile {
      @media (max-width: $screen-sm-min) {
        flex-direction: column;
      }
      @include md {
        flex-direction: unset;
      }
    }

    &__desktop {
      @media (max-width: $screen-sm-min) {
        flex-direction: unset;
      }
      @include md {
        
        flex-direction: column;
      }
    }
  }

  &--row {
    flex-direction: row;

    &__desktop {
      @media (max-width: $screen-sm-min) {
        flex-direction: unset;
      }
      @include md {
        flex-direction: row;
        
      }
    }

    &__mobile {
      @media (max-width: $screen-sm-min) {
        flex-direction: row;
        
      }
      @include md {
        flex-direction: unset;
        
      }
    }
  }

  &--half {
    flex: 1 1 100%;

    @include md {
      flex: 1 1 50%;
    }
  }

  &--qtr {
    flex: 1 1 100%;

    @include md {
      flex: 1 1 25%;
    }
  }

  &--3qtr {
    flex: 1 1 100%;

    @include md {
      flex: 1 1 75%;
    }
  }

  &-mobile-wrap {
    flex-wrap: wrap;

    @include lg {
      flex-wrap: nowrap;
    }
  }
}

.p {
  &48 {
    $min_width: 768px;
    $max_width: 1200px;
    $min_font: 32px;
    $max_font: 48px;

    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    line-height: 1.08em;
    letter-spacing: -0.8px;
    font-family: $font-stack-xl;
    font-weight: normal;
  }
}

.icon-burger {
  max-height: 100%;
  max-width: 100%;
}

.center {
  text-align: center;

  .checkbox-button {
    justify-content: center;
    align-items: center;
  }
}

// Fix for scrolling sideways on iPad down
body.location-page {
  @media (max-width: $screen-sm-min) {
    overflow-x: hidden;
  }
}

/* Change input autofill background to white ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"] {
  padding-left: 0!important;
}