.planyrday-wrapper {
    background-color: #000000;
    padding-top: 0;

    @include md {
        background-image: url("../images/shapre-dee-yellow.svg"), url("../images/deakin-bg.png"), url("../images/shapes.svg"), url("../images/pink-oval.svg");
        background-repeat:  no-repeat, no-repeat;
        background-position: 91% 206px, 100% 92.5%, 0 37%, 0 5%;
        background-size: 259px 226px, 198px 427px, auto, auto;
    }
    

    h1 {
        $min_width: 568px;
        $max_width: 1600px;
        $min_font: 32px;
        $max_font: 96px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);

        font-family: $font-stack-xl;
        // font-size: 9.6rem;
        line-height: 1em;
        letter-spacing: -1.6px;
        text-transform: uppercase;
    }

    .sessions-container .eventcard {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: #{$screen-sm-min}) {
            .panel {
                padding: 0;
            }    
        }
        
    }

    .step-container {
        margin-bottom: 3.2rem;
        padding: 3.2rem 0.8rem;
        @include md {
            padding: 3.2rem;
        }
        
        

        &.no-top-padding {
            padding-top: 0;
        }

        .refine {
            overflow-x: hidden;
            box-sizing: border-box;
            justify-content: flex-start;
            padding-left: 0.8rem;
            font-size: 1.8rem;
            font-family: $font-worldly-light;
            flex-wrap: wrap;

            @include md {
                flex-wrap: nowrap;
                padding-left: 4rem;
            }

            .bg--round-pink {
                background: $magenta;
                display: inline-flex;
                border-radius: 50%;
                height: 24px;
                width: 24px;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                padding-top: 3px;
                margin-right: 8px;
                position: relative;
                top: 4px;
            }

            .select2 {
                width: auto!important;
                background: none;
                color: $yellow;

                &-container--default {
                    .select2-selection--single {
                        padding: 0;
                        margin: 0 1.4rem 0 1.1rem;
                        background: none;
                        border: none;
                        
                        .select2-selection {
                            &__rendered {
                                color: $yellow;
                                line-height: 3.1rem;
                            }
                            &__arrow {
                                background: url(//www.deakin.edu.au/__data/assets/file/0003/1924932/yellow-downarrow.svg) no-repeat center !important;
                            }
                        }
                    }
                }
            }

            strong {
                font-family: $font-worldly-bold;
                font-size: 1.8rem;
                margin: 0 1.2rem;
                
            }

            .strong-date {
                padding-left: 2.1rem;

                @include sm {
                    padding-left: 0;
                }
            }
        }
    }
    
    .eventcard {
        padding: 2.5rem;
        &__header {
            align-items: center;
            border-bottom: 1px solid $border-grey;
            justify-content: space-between;
            // padding: 2.5rem;

            .time {
                font-family: $font-worldly-bold;
                font-size: 1.8rem;
                line-height: 1.33em;
                color: $magenta;
                margin: 0;

                span {
                    display: initial;
                    margin-left: initial;
                    margin-right: initial;
                    margin-bottom: initial;

                    &.alert {
                        color: $charcoal;
                        position: relative;
                        top: -0.2rem;

                        .icon-alert {
                            display: inline-block;
                            margin: 0 0.7rem;    
                            position: relative;
                            top: 0.2rem;
                        }
                        display: inline-block;
                        
                    }
                }
            }

            .add {
                &.selected {
                    background: $green url("../images/tick-new.svg") no-repeat center center;
                    color: $white;
                    border: $green;
                }
            }
        }
        &__body {
            align-items: baseline;
            padding: 2rem 0rem;
            
            @include md {
                padding: 2.4rem 2.8rem;
            }

            .flexContainer--3qtr {
                box-sizing: border-box;
                width: 100%;
                
                @include md {
                    margin-left: 7%;
                    flex: 1 0 68% ;
                }
            }

            button.accordion {
                border-top: none;
                position: relative;
                padding-bottom: 0;

                @include md {
                    display: none;
                }

                span {
                    color: $teal;
                    font-size: 1.4rem;
                    flex: 0 0 100%;
                    font-family: $font-worldly-bold;
                }

                .icon-arrow {
                    width: 1.2rem;
                    height: 14px;
                    position: absolute;
                    left: 99px;
                    top: 23px;
                }

                &.active {
                    padding-bottom: 1.8rem;

                    svg {
                        transform: rotate(180deg);
                    }
                }
            }

            .panel {
                p.body {
                    margin-top: 0;

                    @include md {
                        margin: 0;
                    }
                    
                }
            }

            .content {
                padding-left: 2.5rem;
                max-width: 44.2rem;
            }
        }

        &--cancelled {
            opacity: 0.6;

            .time {
                color: $black;
            }

            .remove {
                font-family: $font-worldly-bold;
                font-size: 1.4rem;
                line-height: 1.33;
                color: $black;
                text-decoration: underline;
                cursor: pointer;
                flex: 0 0 auto;
            }
        }
    }

    .tiles {
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
        margin: 0 auto!important;
        
        @include md {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        &-heading {
            margin-top: 8rem;
            position: relative;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2.2rem;
        }

        &-wrapper {
            padding-bottom: 0;
            overflow-y: hidden;
        }
    }

    .btn {
        font-size: 1.3rem;
    }

    .module-with-carousel .owl-carousel .owl-stage {
        left: 0;
    }

    .step-container.module-with-carousel {
        display: none;
    }
    @include md {
        .module-with-carousel .owl-carousel .owl-stage {
            left: -20rem;
        }
    }

    &.not-logged {
        #not-logged-in-msg {
            align-items: center;
        }

        .step-container.module-with-carousel {
            display: none;
        }
    }
}

.icon-alert {
    display: inline-block;
    height:1.6rem;
    width:1.6rem;

    svg {
        max-width: 100%;
    }
}