.eventcard {
    background: $white;
    color: $charcoal;
    padding: 2.4rem 2.8rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;

     &__header {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: nowrap;
        height: 86px;
        overflow: hidden;
        justify-content: space-between;
        text-overflow: ellipsis;

        .add {
            @include flex-center;
            border: 2px solid #c9c9c9;
            border-radius: 50%;
            color: $teal;
            cursor: pointer;
            display: flex;
            flex: 0 0 auto;
            font-size: 3.5rem;
            height: 4rem;
            width: 4rem;
            margin-left: 1.9rem;
            &:after{
                content: "\002B";
            }
        }

        .event-added {
           pointer-events: none;

           background: #c9c9c9;
           color: $teal;
        }

        .event-added:after {
            content: "Added";
            background: url(//www.deakin.edu.au/__data/assets/file/0009/1926612/green-tick.svg) no-repeat center 24px;
            font-size: 1rem;
            pointer-events: none;
            padding-top: 16px;
        }

        // content: "";
        
        // color: white;
        // border-radius: 50%;
        // font-size: 2.5rem;
        // height: 4rem;
        // width: 4rem;
        // justify-content: center;
        // display: flex;
        // align-items: center;

        .selected:after {
            content: "";
            background: #128774 url(//www.deakin.edu.au/__data/assets/file/0007/1924927/tick-new.svg) no-repeat center center;
            color: white;
            border-radius: 50%;
            font-size: 2.5rem;
            height: 4rem;
            width: 4rem;
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }

    h3 {
        font-family: $font-worldly-bold;
        font-size: 1.8rem;
        // line-height: 1.44em;
        line-height: initial;
        display: block;
        margin: 0;
        height: 6.5rem;
        margin-bottom: 1.2rem;
    }

    span {
        font-family: $font-worldly-light;
        font-size: 1.4rem;
        line-height: 1.79em;
        display: flex;
        margin-bottom: 0.5rem;
        flex: 1 1 auto;
        align-items: center;
        overflow-y: hidden;

        &.where {
            height: 5rem;
            align-items: start;
        }
    }

    .icon-pin,
    .icon-clock {
        width: 1.5rem;
        min-width: 1.5rem;
        height: 1.7rem;
        margin-right: 1rem;

        use {
            fill: $magenta;
        }
    }
}

.module-with-carousel {
    text-align: center;

    .owl {
        &-item {
            opacity: 0.2;
            transition: opacity 0.3s ease;
            z-index: 100;
            min-height: 239px;
            // max-width: 333px;

            &.active {
                opacity: 1;
            }

            &.fadeOut {
                opacity: 0.2;
            }
        }

        &-nav {
            position: absolute;
            // top: calc(50% - 25px);
            top: 8.8rem;
            display: none;
            flex: 0 0 100%;
            justify-content: space-between;
            width: 100%;
            z-index: 0;

            @include lg {
                display: flex;
            }

        
            button {
                height: 50px;
                width: 50px;
                background: url("//www.deakin.edu.au/__data/assets/file/0003/1913070/white-downarrow.svg") no-repeat center !important;
                background-color: $black!important;
                display: block;
                position: relative;

                &.owl-prev {
                    transform: rotate(90deg);
                    left: -3.1rem;
                }

                &.owl-next {
                    transform: rotate(-90deg);
                    right: -3.1rem;
                }
                span{display: none;}
            }

            .owl-dots {
                display: flex;
                background: pink;
                flex: 0 0 100%;
                flex-direction: row;
                text-align: center;

                
            }            
        }

        &-carousel {
            .owl-stage {
                display: flex;
                left: -22px;

                @include sm {
                    // left: -140px;
                    left: -22%;
                }

                @include md {
                    // left: -200px;
                    // left: -260px;
                    // left: -20%;
                    left: 10%;
                }
                
            }
            .owl-dots {
                text-align: center;
                // margin: 2.5rem 0 4rem;
                margin: 2rem 1rem 1rem 1rem;
            }
            button {
                &.owl-dot {
                    height: 0.7rem;
                    width: 0.3rem;
                    background: #ffffff;
                    padding: 0;
                    opacity: 0.2;
                    pointer: cursor;

                    &.active {
                        opacity: 1;
                    }

                    @include md {
                        width: 0.7rem;
                    }
                }
            }
        }
    }

    .accordion {
        padding: 0;
        margin-top: 1rem;
        position: relative;
        border-top: none;

        span {
            display:inline-block;
            color: $teal;
            font-family: $font-stack-os-bold;
            font-size: 1.4rem;
            line-height: 1em;
        }

        svg {
            width: 1.2rem;
            height: 14px;
            position: absolute;
            left: 89px;
            transform: 0.2s all ease;
        }

        &.active {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    
    .panel {
        padding: 0;
    }
}

// .course-info-carousel .owl-item.active:last-child(1n) {
//     opacity: 0.2!important;
//   }