.faqs-wrapper {
    margin: 1rem;
    position: relative;

    @include lg {   
        min-height: 500px;
    }
    
    h2 {
        @extend %h2;

        &.mobile-version {
            line-height: 1.06em;
            letter-spacing: -0.5px;
        }
    }
    
    .verticle-text {
        h2 {
            $min_width: 768px;
            $max_width: 1600px;
            $min_font: 101px;
            $max_font: 202px;
            @include fluid-type($min_width, $max_width, $min_font, $max_font);

            margin: 0;
            line-height: 0.85em;
            text-transform: none;
            font-weight: normal;
            letter-spacing: 3.4px;
            color: $white;
            -webkit-text-stroke: 3px $light-grey;
            text-stroke: 3px $light-grey;

            

            &:last-child {
                -webkit-text-stroke: 3px $black;
                text-stroke: 3px $black;
                color: #000;
            }
        }

        &.desktop-version {
            position: absolute;
            left: -2rem;
            top: 0;
            z-index: -1;
        }
    }

    .faqs {

        h3 {
            // width: 388px;
            // height: 24px;
            font-family: $font-stack-xl;
            font-size: 2.2rem;
            line-height: 1.09;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            margin-bottom: 1.3rem;
        }

        @include md {
            margin-top: 4rem;
            padding-left: 5rem;
        }
        
    }
}

  .panel {
    // padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;

}

.verticle-text {
    transform: rotate(-90deg);
}