.footer {
  background-color: #363635;
  min-height: 200px;
  color: #fff;
  padding: 2rem;
  img {
    position: absolute;
    right: 0;
  }
  &-text {
    font-size: 0.85rem;
    margin-top: 1rem;
    line-height: 1.75em;
  }
  h5 {
    @extend %h5;
    margin-bottom: 1rem;
  }
  .acknowledgement{
      font-family: $font-stack-os-regular;
      font-style: italic;
      color:#e1e1e1;
      font-size: 1.3rem;
      line-height: 1.6rem;
  }
}

.social-media-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 1em 1em 0;
  }
  a {
    background-image: url(//www.deakin.edu.au/__data/assets/image/0016/1203109/social-icons.png);
    background-repeat: no-repeat;
    display: block;
    height: 36px;
    transition: all 350ms ease-out;
    -webkit-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    width: 50px;
    &:hover {
      filter: alpha(opacity=80);
      opacity: 0.8;
    }
  }
  
  .facebook {
    background-position: 0 0;
  }

  .twitter {
    background-position: -57px 0;
  }

  .instagram {
    background-position: -114px 0;
  }

  .linkedin {
    background-position: -171px 0;
  }

  .explore {
    background-position: 0 -38px;
  }

  .this {
    background-position: -57px -38px;
  }

  .google {
    background-position: -114px -38px;
  }

  .youtube {
    background-position: -171px -38px;
  }
}
