.footer {
  background-color: #363635;
  min-height: 200px;
  color: #fff;
  padding: 2rem;
  overflow-x: hidden;

  @include md {
    overflow-x: initial;
  }

  img {
    position: absolute;
    right: 0;
  }
  &-text {
    font-size: 0.85rem;
    margin-top: 1rem;
    line-height: 1.75em;
  }
  h5 {
    @extend %h5;
    margin-bottom: 1rem;
  }
  .acknowledgement{
      font-family: $font-stack-os-regular;
      font-style: italic;
      color:#e1e1e1;
      font-size: 1.3rem;
      line-height: 1.6rem;
  }

  .row.pt-3 {
    position: relative;
  }
  .footer-image__wrapper {
    display: none;

    @include lg {
      display: block;
      position: absolute;
      bottom: 2%;
      right: -8%;
      width: 100%;
      max-width: 366px;
      height: 100%;
    }

    @include xxl {
      bottom: 95%;
      right: 0;
      max-width: 550px;
    }
}
}