.footer {
  background-color: #363635;
  min-height: 200px;
  color: #fff;
  padding: 2rem;
  img {
    position: absolute;
    right: 0;
  }
  &-text {
    font-size: 0.85rem;
    margin-top: 1rem;
    line-height: 1.75em;
  }
  h5 {
    @extend %h5;
    margin-bottom: 1rem;
  }
  .acknowledgement{
      font-family: $font-stack-os-regular;
      font-style: italic;
      color:#e1e1e1;
      font-size: 1.3rem;
      line-height: 1.6rem;
  }
}