.getting-here {
    &__wrapper {
        position: relative;
        margin-bottom: 6.7rem;
        overflow: hidden;
        padding-bottom: 4.4rem;

        &:after {
            content: "";
            display: block;
            background: $blue;
            width: 14.8rem;
            height: 14.8rem;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: calc(50% - 7.4rem);
            z-index: -1;

            @include md {
                width: 21.4rem;
                height: 21.4rem;
                right: calc(50% - 10.7rem);
                bottom: -3rem;
            }
        }

        @include md {
            margin-bottom: 10rem;
            overflow: initial;
            
            &:after {
                
            }
        }

        .custom-heading {

            @media (min-width: 992px) {
                margin-bottom: -9rem;
            }
            @media (min-width: 1060px) {
                margin-bottom: -10rem;
            }
            @media (min-width: 1240px) {
                margin-bottom: -12rem;
            }

            @include lg {
                // margin-bottom: -14.5rem;

                h2 {
                    &:nth-child(1) {
                        height: 0.37em;
                        line-height: 1.1em
                    }
                    &:nth-child(3) {
                        color: $white;
                        height: 0.8em;
                        line-height: 1.1em;
                    }
                }
            }

            @media (min-width: 1440px) {
                margin-bottom: -13rem;
            }

            
        }
    }

    &__container {
        background: #2c2c2c;
        color: $white;
        padding: 3.3rem;
        font-size: 1.6rem;
        font-family: $font-worldly-light;
        text-align: left;
        flex-wrap: wrap;

        @include md {
            flex-wrap: no-wrap;
        }
    
        a:not(.button) {
            color: $white;
            font-size: 1.6rem;
            line-height: 1.5em;
            margin-bottom: 1.5em;
            display: inline-block;
        }

        h4 {
            font-size: 1.8rem;
            font-family: $font-worldly-bold;
            line-height: 1.44em;
            margin: 0 0 1rem 0;
        }
    
        @include lg {
            padding: 20.5rem 5.5rem 5.5rem 5.5rem;
        }

        .flexContainer.row.flexContainer--half {
            max-width: 100%;
            width: 100%;
            flex-wrap: nowrap;

            @include md {
                margin-top: 6.2rem;
                max-width: 50%;
            }
            
            // flex: 1 1 100%;
        }

        .campus {
            &-details {
                flex-direction: column;
                order: 2;

                @include md {
                    max-width: 45%;
                    margin-right: 5%;
                    order: 1;
                }

                @include lg {
                    flex-direction: row;
                    max-width: 54%!important;
                    flex-wrap: wrap;
                    max-width: 50%;
                    margin-right: 0;
                }
                

                &  div {

                    @include lg {
                        width: 50%;
                        &:nth-child(odd) {
                            margin-right: 2rem;
                        }
                        
                        &:nth-child(2n) {
                            width: calc(50% - 2rem);
                        }
                    }
                }

                .icon-download {
                    display: inline-block;
                    width: 14px;
                    height: 17px;
                    position: relative;
                    margin-left: 10px;
                    top: 4px;

                    use {
                        fill: $white;
                    }
                }

                .address {
                    order: 1;
                }

                .travel-reimbursment {
                    order: 3;

                    @include lg {
                        order: 2;
                    }

                    .button {
                        text-align: center;
                    }
                }

                .getting-around-campus {
                    order: 2;
                    
                    @include lg {
                        order: 3;
                        margin-top: 4rem;
                    }
                } 
                
                .campus-accessibility {
                    order: 4;
                    margin-top: 4rem;

                    @include lg {
                        order: 4;
                    }

                    .button {
                        max-width: 20.8rem;
                    }
                }

            }
            &-map {
                
                order: 1;
                
                position: relative;
                width: calc(100% + 6.6rem);
                max-width: calc(100% + 6.6rem);
                left: -4.3rem;
                top: -3.3rem;

                @include md {
                    left: 0;
                    top: 0;
                }

                @include lg {
                    overflow: hidden;
                    max-height: 54.7rem;
                    max-width: 42vw!important;
                    position: absolute;
                    right: auto;
                    left: 60%;
                    top: auto;
                }

                @include xl {
                    left: 54%;
                }
            }
        }
    }
}
.mapouter {
    position: relative;
    text-align: right;
    height: 547px;
    // max-width: 631px;
    max-width: 682px;
    width: calc(100% + 6.6rem);
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 547px;
    max-width: 682px;
    width: calc(100% + 8.6rem);
    
    @include md {
        // width: 50vw;
        width: 100%;
    }

    @include lg {
        // width: 42vw;
    }

    @include xxl {
        height: 547px;
        width: 682px;	
    }
}

@include lg {
    .iPad .flexContainer.flexContainer--half.campus-map {
        max-width: 40vw!important;
        left: 60%;
    }
}