.hero-banner {
  background: none;
  background-color: $black;
  @include md {
    background: $black url(//www.deakin.edu.au/__data/assets/image/0018/1913040/deakin-bg.png) no-repeat top right;
    background-size: contain; 
  }
  padding: 4rem 1rem 2rem 1rem;
  align-items: center;
  overflow-x: hidden;

  @include md {
    background: $black url(//www.deakin.edu.au/__data/assets/image/0018/1913040/deakin-bg.png) no-repeat top right;
    background-size: contain;
    overflow: initial;
  }

  .text h1 {
      color: #fff;
      @extend %h1;
      max-width: 60rem;
      
      @include md {
        font-size: 6.2rem;
        line-height: 6.2rem;
      }
      span {
      display: block;
      margin-top: 3rem;
      color: $yellow;
      position: relative;
    }
  }
  .hero-pic {
    position: relative;
    top: -5rem;
    left: -3rem;

    @include sm {
      top: 0;
      left: 0;
    }

    @include md {
      top: initial;

      .d-stencil {
        display: none;
        width: 100%;
      }
    }

    @include xxl {
      margin-left: -4rem;
    }

    img {
      &:first-child {
        display: none;

        @include md {
          display: block;
        }
      }
    }

    .triangle.face-right {
      transform: rotate(-90deg);
      width: 3.2rem;
      position: relative;
      left: calc(100% - 33px);
      top: 3.3rem;

      @include sm {
        left: -30%;
      }

      @include md {
        display: none;
      }
    }
  }

  .msg{
      color:#fff;
      font-family: $font-worldly-light;
      
      position: relative;

      @include xl {
        top: -1rem;
      }

      @include xxl {
        top: -7rem;
      }
      

      p {
        $min_width: 768px;
        $max_width: 1200px;
        $min_font: 17px;
        $max_font: 22px;

        @include fluid-type($min_width, $max_width, $min_font, $max_font);
        line-height: 1.44em;
        margin: 0;
      }
  }

  &.location-page {
    padding: 0;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include md {
      flex-wrap: nowrap;
    }

    @include lg  {
      justify-content: initial;
    }

    .text {
      order: 2;
      h1 {
        $min_width: 768px;
        $max_width: 1200px;
        $min_font: 34px;
        $max_font: 62px;

        @include fluid-type($min_width, $max_width, $min_font, $max_font);
        line-height: 1.03em;

        span {
          margin-top: 0;

          @include lg {
            // margin-top: 3rem;
          }
        }
      }

      @include sm {
        padding: 0 12rem;
      }

      @include md {
        padding: 0;
      }
      @include xl {
        order: 1;
      }
    }

    .icon-white-triangle {
      width: 4.3rem;
      position: absolute;      
      height: 4.7rem;
      left: calc(100% - 40px);
      transform: rotate(180deg);
      top: -6px;


      @include md {
        left: -6.2rem;
        transform: rotate(0deg);
        top: initial;

      }
    }

    .hero-pic {
      order: 1;
      position: relative;
      z-index: 0;
      width: calc(100% + 2rem);
      padding-bottom: 1.2rem;
      top: 0;
      left: -1rem;
      padding: 0;

      @include md {
        min-width: 46rem;
        max-width: 61.4rem;
        width: 37vw;
        order: 2;
        margin: -1rem 0 0 0;
      }

      @media only screen and (min-width: 768px) and (max-width: 920px) {
        max-width: 50%;
        width: 100%;  
        // order: 2;
      }

      img {
        width: calc(100% + 1rem);
        max-width: calc(100% + 1rem);
        position: relative;

        &.d {
          position: absolute!important;
          bottom: 2rem;
          left: 2rem;
          max-width: 10rem!important;
        }

        @include md {
          width: 100%;
          max-width: 100%;

          &.d {
            bottom: -6rem;
            left: 2rem;
            max-width: 186px!important;
          }
        }

        @include xxl {
          &.d {
            left: 4rem;
            max-width: 216px!important;
          }
        }
         
         &:first-child {
           display: block;
         }
      }
      
      &:before {
        display: none;
        content: "";
        position: absolute;
        width: 11.8rem;
        height: 11.8rem;
        background: $white;
        border-radius: 50%;
        top: 3rem;
        left: -5rem;
        z-index: -1;

        @include md {
          display: block;
        }

        @include lg {
          top: 5rem;
          left: -6rem;
        }
      }

      &:after {
        @include lg {
          $min_width: 1200px;
          $max_width: 1644px;
          $min_font: 117px;
          $max_font: 145px;

          @include fluid-type($min_width, $max_width, $min_font, $max_font);
        
          content: "Deakin";
          display: none;
          position: absolute;
          height: 0;
          text-transform: uppercase;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          top: 50%;
          left: 57%;
          font-family: "UniversLTStd-BoldCn", sans-serif;
          z-index: -1;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $white;
          line-height: 1em;
          opacity: 0.5;

          @include lg {
            display: flex;
            height: 0;
            flex: 1;
            max-height: 12.5rem;
          }
          
        }        
      }
      
      .verticle-text {
        display: none;

        @include lg {
          display: block;
        }
      }
    }
    
    @include lg {
      h1 {
        padding-right: 10rem;

        span {
          margin-top: 0;
        }
      }
    }
 
  }
}

body {
  &.waurn-ponds {
    .hero-banner.location-page {
      background: $blue;

      .hero-pic:after {
        color: $blue;
        -webkit-text-fill-color: $blue;
      }
    }

  }

  &.burwood {
    .hero-banner.location-page {
      background: $teal;
      
      .hero-pic:after {
        color: $teal;
        -webkit-text-fill-color: $teal;
      }
    }
  }

  &.waterfront {
    .hero-banner.location-page {
      background: $charcoal;

      svg {
        path {
          stroke: $yellow;
        }
      }

      h1 {
        span {
          color: $yellow;
        }
      }
      
      .hero-pic {
        &:after {
          color: $yellow;
          -webkit-text-fill-color: $yellow;
          -webkit-text-stroke-color: $yellow;
          opacity: 1;
        }

        &:before {
          background: $yellow;
        }
      }
    }
    
    #icon-white-triangle path {
      stroke: $yellow;
    }
  }
  
  &.warrnambool {
    .hero-banner.location-page {
      background: $magenta;

      .hero-pic {
        @media (min-width: $screen-md-min) and (max-width: 1600px) {
          left: 9rem;
        }

        &:after {
          color: $magenta;
          -webkit-text-fill-color: $magenta;
          left: 50%;

          @media (min-width: 1600px) {
            left: 59%;
          }
        }
      }
    }
  }
}

.iPad {
  .hero-banner.location-page .hero-pic {
    left: -1.2rem;
  }
}