nav {
    button {
        display: flex;
        flex: 0;
        align-items: center;
        font-size: 1.4rem;
        cursor: pointer;
    }
    
    .icon-calendar {
        height: 2rem;
        margin-right: 1.3rem;
        // margin-right: 1.6rem;
        width: 2.2rem;
    }

    &.mobile-version {
        position: absolute;
        right: 35px;
        
        button {
            font-size: 1.2rem;
        }
    }
}

#signup {
    .form {
        &__header {
            h2,
            p {
                margin: 0;
            }

            p {
                font-family: $font-stack-os-regular;
                margin-bottom: 4.5rem;
            }
        }

        &-group {
            display: flex;
            flex-wrap: wrap;

            label {
                display: block;
                font-family: $font-stack-os-bold;
                font-size: 1.5rem;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6em;
                letter-spacing: 0.2px;
                color: $charcoal;
                margin-bottom: 0.5rem;

                &.error {
                    color: $red!important;
                    font-size: 1.25em!important;
                    order: 2;
                    margin-top: -1rem;
                    margin-bottom: 1.5rem!important;
                    z-index: 1;
                }
            }
    
            input,
            .select2-container--default .select2-selection--single {
                font-family: $font-stack-os-regular;
                font-size: 1.5rem;
                line-height: 1.6em;
                color: $charcoal;
                display: block;
                width: 100%;
                outline: none;
                border: none;
                padding-bottom: 1rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid #ccc;
                order: 1;
            }
        }
    }

    .checkbox-button {
        margin: 2rem 0;
        label {
            font-family: $font-stack-os-regular;
        }
    }

    .select2-container--default .select2-selection--single {
        padding: 0 0 1rem;

        .select2-selection__rendered {
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }

    .button--primary {
        margin-bottom: 2rem;
    }
}

#SignupModal {
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        background: none;
        border: none;
    }

    &:before {
        content: "";
        display: block;
        position: fixed;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.5);
    }
    .modal-header {
        padding: 0;
        border-bottom: none;
    }
    
    .modal-content {
        padding: 4.5rem 2rem 0;
        min-height: 400px;
        overflow: auto;
        height: 100%;

        @include md {
            padding: 4.5rem 6rem 0;
        }
    }

    .modal-body {
        padding: 0;
    }

    .modal-footer {
        border: none;
        background: $light-grey;
        box-sizing: border-box;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        left: 0;
        width: calc(100% + 4rem);
        

        @include md {
            width: calc(100% + 12rem);
            // left: -6rem;
            // width: calc(100% + 9rem);
            // left: 0;
            // width: 100%;
        }
        
        p {
            font-family: $font-stack-os-regular;
        }

        a {
            color: $teal;
            font-family: $font-stack-os-bold;
        }
    }

    h2 {
        font-family: $font-stack-xl;
        font-size: 3.2rem;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: -0.5px;
        color: $teal;
        text-transform: uppercase;
    }

    & ~ .select2-container--default .select2-results__option {
        background: $white!important;
        color: $charcoal;

        &--highlighted {
            &[aria-selected] {
                background-color: $teal!important;
                color: $white;
            }
        }
    }
}

#login-form,
#forgot-pwd-form,
#reset-pwd-form,
#register-form {
    // padding-top: 2rem;
    // display: none;

    h2 {
        margin: 0;
    }

    .button--primary {
        // margin-bottom: 0;
        height: 5rem;
        border-radius: 2.5rem;
        width: 100%;

        @include md {
            width: 50%;
            margin-top: 2rem;
        }
    }

    a {
        color: $teal;
    }
}

#login-form {
    .button--primary {
        margin: 4rem auto 0;
        @include md {

        }
    }
    .form-header {margin-bottom:2rem;}
}

#register-form {
    @media (max-width: #{$screen-xs-min}){
        // padding-bottom: 4.9rem;
    }
}

#reset-pwd-form {
    .button--primary {
        margin-bottom: 5rem;
    }
}

#forgot-pwd-form {
    // padding-bottom: 4rem;

    button {
        display: block;
        margin: auto;
    }
    
    .form-group {
        p {
            margin: 0;
        }
    }
}

#form-success {
    text-align: center;
    padding: 0 0 4.5rem;

    @include md {
        padding: 0 8rem 9rem;
    }

    .check {
        display: flex;
        width: 6.8rem;
        height: 6.8rem;
        background: $light-grey;
        border-radius: 50%;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex: 1 1 auto;

        .icon-tick {
            position: absolute;
            max-width: 2.3rem;
        }
    }

    h2 {
        margin: 2.5rem 0 0;
    }

    p {
        font-family: $font-stack-os-regular;
        font-size: 1.6rem;
        line-height: 1.63em;
        color: $teal;

        span {
            font-family: $font-stack-os-bold;
        }
    }
}

.alert-danger, .aws-error {
  color: red;
}

div[class$="success"], div[class$="fail"], .aws-error {
    display:none;
  }

// #register-form {
    .signup {
        &_wrapper {
            &.center {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
            }
        }
    }    
// }
