.manifesto {
  background-color: #000;
  color: #fff;
  padding: 2rem 1rem;
  position: relative;

  @include sm {
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 15.6rem;
      height: 15.6rem;
      background: $yellow;
      border-radius: 50%;
      top: -7.8rem;
      right: 10%;
      z-index: 0;
    }
  }

  @include sm {
    background: #000 url(//www.deakin.edu.au/__data/assets/image/0020/1913042/deakin-twin-stencil.png) no-repeat left center;
    // background: #000 url("./?a=1913042") no-repeat left center;
  }
  .tri-outline {
    @include sm {
      width: 12%;
    }
  }
  h1 {
    font-family: $font-stack-xl;
    font-weight: normal;
    text-transform: uppercase;
    $min_width: 568px;
    $max_width: 1200px;
    $min_font: 32px;
    $max_font: 40px;

    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    letter-spacing: -0.53px;

    @include sm {
      letter-spacing: -0.8px;
    }
  }
  span {
    display: inline-block;
    // line-height: normal;
    height: 3.5rem;
    @include sm {
      height: 1em;
    }
  }

  .shapes {
    display: none;
  }

  @include sm {
    .colourful-text {
      z-index: 1;
    }
  
    .shapes {
      display: block;
      right: 0px;
      position: absolute;
      z-index: 0;
      top: calc(50% - 20rem);
      height: 40rem;
    }
  }
  
}

// background style for mac
.Macintosh, 
.MacIntel, 
.MacPPC, 
.Mac68K {
  .manifesto {
    span {
      line-height: initial;
    }
  }
}

// background style for Windows
.Win32,
.Win64,
.Windows,
.WinCE {
  .manifesto {
    span {
      line-height: inherit;
    }
  }
}

// background style for iPhone
.iPhone,
.iPad,
.iPod {
  .manifesto {
    span {
      line-height: initial;
    }
  }
}