body {
    margin: 0
}

.navbar-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.Navbar {
    background-color: #363635;
    display: flex;
    font-family: sans-serif;
    color: white;
    padding: 1.5rem 2.6rem;
    position: relative;
}

.Navbar__Link {
    padding: .25rem .75rem;
    a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        display: inline-block;
        margin-right: 2rem;

    }
    a img {
        // padding-right: 1rem;
        // vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    &-brand {
        a {
            display: block;
        }
    }
}

.Navbar__Items {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1rem;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }
    .Navbar {
        padding: 1rem 0.9rem;
    }
    .Navbar__Items {
        display: none;
    }
    .Navbar__Items--right {
        margin-left: 0;
    }
    .Navbar__ToggleShow {
        box-sizing: border-box;
        display: flex;
        position: absolute;
        width: 100%;
        left: 0;
        top: 5rem;
        background: $white;
        z-index: 100;
        align-items: flex-start;
    }
    .Navbar__Link {
        padding: .5rem 1.5rem;

        a {
            color: $charcoal;
        }

        &-brand {
            padding: 0;
            a {
                max-width: 9rem;
                max-height: 3rem;
            }
        }
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        padding: 1rem;
        // padding: 0;
        // width: 1.6rem;
        // height: 1.2rem;
    }
    .Navbar__Link-toggle span {
        font-size: 2.25rem;
    }
    .Navbar__Link a.chat {
        padding-left: 2.5em;
        background: transparent url(//www.deakin.edu.au/__data/assets/image/0011/1813097/e-icon-chat-white-2-x.png) no-repeat;
        background-position: left center;
    }
}