.Navbar__Link {
    padding: .25rem .75rem;
    a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        display: inline-block;
        margin-right: 2rem;

    }
    a img {
        max-width: 100%;
        height: auto;
    }

    &-brand {
        a {
            display: block;
        }
    }
}

.Navbar__Items {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1rem;
}


.Navbar__Items,
.Navbar {
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.Navbar__Items {
    display: none;
}

.Navbar__Link {
    padding: .5rem 1.5rem;

    a {
        color: $charcoal;
    }
}

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {
  background: $charcoal;
}

// Logo and branding
.brand {
    box-sizing: border-box;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.4em;
    top: 1rem;
    left: .9rem;
    width: 120px;
    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

// Container with no padding for navbar
.nav-container {
    display: flex;
    flex: 1;
    align-items: center;
}

// Navigation 
nav {
  clear: both;
  position: relative;
  width: 100%;
  z-index: 3;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: 1.69em;;
        background: $white;
        color: $charcoal;
        text-decoration: none;
        position: relative;

        font-family: $font-stack-os-bold;
        font-size: 1.6rem;
        &:hover {
          color: $blue;
        }
        &:not(:only-child):after {
            content: '';
            background: url(//www.deakin.edu.au/__data/assets/file/0005/1913054/magenta-downarrow.svg) no-repeat center !important;
            height: 9px;
            position: absolute;
            width: 17px;
            background-size: cover;
            display: block;
            right: 10px;
            top: 17px;
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: relative;
  display: none;
  z-index: 1;
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $charcoal;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (max-width: 768px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 1px;
    ul {
      display: none;
      li {
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
}
  .nav-dropdown {
    background: pink;
    position: relative;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}


//Secondary Nav that appears on Location page
.secondary__nav {
    display: flex;
    flex: 1 1 100%;
    padding: 0 0rem;
    background: $light-grey;
    
    position: relative;
    z-index: 2;

    @include md {
        padding: 0 2.6rem;
        height: 4.8rem;
    }

    .Navbar__Items {
        display: flex;
        flex: 1 1 auto;
        overflow-x: auto;
        align-items: normal;
        
        @media screen and (max-width: $screen-sm-min) {
            padding: 1rem 0;
        }

        @include md {
            margin-left: 15.6rem;
        }

        ul {
            display: flex;
            flex: 1 1 100%;
            padding: 0;
            list-style: none;
            margin: 0;
            align-items: center;

            li {
                @media screen and (max-width: $screen-sm-min) {
                    border-right: 1px solid $border-grey;
                }
            }
        }

        .Navbar__Link {
            @media screen and (max-width: $screen-sm-min) {
                padding: 0.5rem 0.6rem;

                &:first-child {
                    a {
                        min-width: 5.5rem;
                    }
                }
            }
            

            a {
                @media screen and (max-width: $screen-sm-min) {
                    text-align: center;
                }
                
                $min_width: 320px;
                $max_width: 768px;
                $min_font: 12px;
                $max_font: 14px;
                @include fluid-type($min_width, $max_width, $min_font, $max_font);

                color: $charcoal;
                font-family: $font-stack-os-bold;                
                cursor: pointer;
                padding: 0 1rem;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

@include md {
    .brand {
        position: relative;
        background-color: #363635;
        display: flex;
        font-family: sans-serif;
        color: #fff;
        padding: 1rem 2.6rem;
        width: auto;
        top: auto;
        padding: 0;
    }
    nav ul.nav-list {
      display: flex;
      position: relative;
      margin-left: 8.6rem;

       li {
           padding: 2rem 1rem;
          a {
              background: transparent;
              color: $white;
              padding: 0 ;
              &:after {
                  position: absolute;
                  top: 0.8rem;
                  right: -2rem;
              }
          }

          .nav-dropdown {
            position: absolute;
            z-index: 8;
            background: $light-grey;
            
            a {
                transition: all 300ms ease-in-out;
                color: $charcoal;
            }

            li {
                &:hover {
                    a {
                        transition: all 300ms ease-in-out;
                        color: $magenta;           
                    }
                }
            }
          }
      }
    }

    nav ul.nav-list > li {
        border-top: 3px solid $charcoal;
        padding: 2rem 0;
        margin-right: 3rem;

        &:hover {
            border-color: $yellow;
        }
    }
}

.nav-right {
    position: absolute;
    right: 7.5rem;
    top: 1rem;

    svg {
        display: none;
    }

    @include md {
        right: 1.5rem;

        svg {
            display: inline-block;
        }
    }
}

.num--pink--circle {
    background: $magenta;
    display: none;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    flex: 0 0 24px;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;

    @include md {
        // display: inline-flex;
    }
}

.burwood .no-burwood {
    display: none;
}

.myplanner {
    .nav-list, #nav-toggle {
        display: none;
    }

    @include md {
        .nav-container {
            height: 70px;
        }
    }
}

.myplan {
    nav ul.nav-list>li:nth-child(2) {
        display: none;
    }

    nav ul.nav-list>li:last-child() {
        display: none;
    }
}

.warrnambool, .waurn-ponds, .waterfront, .burwood {
    .Navbar__Link:first-child(), .Navbar__Link:nth-child(3), .Navbar__Link:nth-child(4), .Navbar__Link:nth-child(5)  {
        display: none;
    }
}