$time: 60;

.practicle-learning {
    background: $black;
    color: $white;
    position: relative;
    overflow-x: hidden;
    padding: 0;

    @include md {
        padding: 17rem 7rem 0 7rem;
        // z-index: 0;
        overflow: hidden;
        // z-index: -1;
    }

    &:before {
        display: none;
        content: "Deakin";
        position: absolute;
        font-size: 165px;
        height: 0;
        text-transform: uppercase;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 30rem;
        // top: 42rem;
        left: -16rem;
        font-family: $font-stack-xl;
        color: $black;
        -webkit-text-fill-color: $black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
        line-height: 0;
        opacity: 0.5;

        @include lg {
            display: block;
        }
    }

    &:after {
        display: none;
        position: absolute;
        content: "";
        width: 25.3rem;
        height: 25.3rem;
        border-radius: 50%;
        border: 2px solid $white;
        opacity: 0.5;
        top: -10rem;
        right: -10rem;

        @include lg {
            display: block;
        }
    }

    h2 {
        text-transform: uppercase;
        font-family: $font-stack-xl;
        line-height: 1.08em;
        max-width: 81rem;
        letter-spacing: -0.8px;
        padding: 0 1rem;

        @include md {
            padding: 0;
            margin-bottom: 6.5rem;
        }
    }

    .video-container {
        margin: 0 -1rem -0.2rem;
        order: 2;
        position: relative;
        width: calc(100% + 2rem);
        max-width: 60rem;

        &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            border-top: 70px solid $blue;
            position: absolute;
            right: 1rem;
            top: 2rem;

            @include md {
                left: 1rem;
                right: auto;
            }
        }

        @include md {
            order: 1;
            margin: 0 0 -4.5rem 0;
        }
        
    }

    .video-text {
        overflow-y: hidden;

        @include md {
            overflow-y: initial;
            align-items: center;
        }

        .video {
            margin-top: 6rem;
            width: 100%;

            @include md {
                margin-right: 2.05vw;
            }
        }
        a {
            order: 2;
            position: relative;

            @include md {
                order: 1;
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 69px 32px 0 32px;
                border-color: $blue transparent transparent transparent;
                top: -4rem;
                right: 1.2rem;
                // animation: spin #{$time}s linear infinite;

                @include md {
                    right: auto;
                }
            }

            img {
                display: block;
            }
        }
        .p48 {
            color: $blue;
            font-family:  $font-stack-xl;
            text-transform: uppercase;
            width: 100%;
            order: 1;
            overflow: hidden;
            padding: 0 1rem;
            margin-bottom: 6.5rem;

            @include md {
                order: 2;
                max-width: 25.8rem;
                margin-left: 3.4vw;
                padding: 0;
                margin-bottom: initial;
            }

            @include lg {
                max-width: 38.8rem;
            }
        }

        @include md {
            flex-wrap: nowrap;

            a {
                position: relative;
            }
        }

        @media (min-width: 2450px) {
            margin-left: 30%; 
        }
    }

}

body {
    &.waurn-ponds {
      .practicle-learning .video-text  {
        .p48 {
            color: $blue;
        }

        a {
            &:before {
                border-color: $blue transparent transparent transparent;

            }
        }

      }
      

      .practicle-learning .video-container:before {
            border-top: 70px solid $blue;
      }
  
    }
  
    &.burwood {
      .practicle-learning .video-text {
        .p48 {
            color: $teal;
        }

        a {
            &:before {
                border-color: $teal transparent transparent transparent;

            }
        }

      }

        .practicle-learning .video-container:before {
            border-top: 70px solid $teal;
        }
    }
  
    &.waterfront {
      .practicle-learning .video-text {
        .p48 {
            color: $yellow;
        }

        a {
            &:before {
                border-color: $yellow transparent transparent transparent;

            }
        }

      }

        .practicle-learning .video-container:before {
            border-top: 70px solid $yellow;
        }
      
    }
  
    &.warrnambool {
      .practicle-learning .video-text {
        .p48 {
            color: $magenta;
          }

          a {
            &:before {
                border-color: $magenta transparent transparent transparent;

            }
        }
      }

        .practicle-learning .video-container:before {
            border-top: 70px solid $magenta;
        }
    }
  }