.practicle-learning {
    background: $black;
    color: $white;
    position: relative;
    overflow-x: hidden;
    

    @include md {
        padding: 7rem 7rem 0 7rem;
        z-index: 0;
        // overflow: initial;
        // z-index: -1;
    }

    &:before {
        display: none;
        content: "Deakin";
        position: absolute;
        font-size: 165px;
        height: 0;
        text-transform: uppercase;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 42rem;
        left: -16rem;
        font-family: $font-stack-xl;
        color: $black;
        -webkit-text-fill-color: $black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
        line-height: 0;
        opacity: 0.5;

        @include lg {
            display: block;
        }
    }

    &:after {
        display: none;
        position: absolute;
        content: "";
        width: 25.3rem;
        height: 25.3rem;
        border-radius: 50%;
        border: 2px solid $white;
        opacity: 0.5;
        top: -10rem;
        right: -10rem;

        @include lg {
            display: block;
        }
    }

    h2 {
        text-transform: uppercase;
        font-family: $font-stack-xl;
        // font-size: 4.8rem;
        line-height: 1.08em;
        max-width: 81rem;
        letter-spacing: -0.8px;
    }

    .video-container {
        margin: 0 -1rem -0.2rem;
        order: 2;
        position: relative;
        width: calc(100% + 2rem);
        max-width: 60rem;

        &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            border-top: 70px solid $blue;
            position: absolute;
            right: 1rem;
            top: 2rem;

            @include md {
                left: 1rem;
                right: auto;
            }
        }

        @include md {
            order: 1;
            margin: 0 0 -4.5rem 0;
        }
        
    }

    .video-text {

        .video {
            margin-top: 6rem;
            width: 100%;

            @include md {
                margin-right: 2.05vw;
            }
        }
        .p48 {
            color: $blue;
            font-family:  $font-stack-xl;
            text-transform: uppercase;
            width: 100%;
            order: 1;
            overflow: hidden;

            @include md {
                order: 2;
                max-width: 25.8rem;
                margin-left: 3.4vw;
            }

            @include lg {
                max-width: 38.8rem;
            }
        }

        @include md {
            flex-wrap: nowrap;
        }
    }

}

body {
    &.gwp {
      .practicle-learning .video-text .p48 {
        color: $blue;
      }

      .practicle-learning .video-container:before {
            border-top: 70px solid $blue;
      }
  
    }
  
    &.bwd {
      .practicle-learning .video-text .p48 {
        color: $teal;
      }

        .practicle-learning .video-container:before {
            border-top: 70px solid $teal;
        }
    }
  
    &.gwf {
      .practicle-learning .video-text .p48 {
        color: $yellow;
      }

        .practicle-learning .video-container:before {
            border-top: 70px solid $yellow;
        }
      
    }
  
    &.wbl {
      .practicle-learning .video-text .p48 {
        color: $magenta;
      }

        .practicle-learning .video-container:before {
            border-top: 70px solid $magenta;
        }
    }
  }