.quote-wrapper {
  background-color: #c74298;
  .student-pic {
    position: relative;
    width: 92%;
    // height: 50vw;
    height: auto;
    // padding-bottom: 11rem;
    // max-height: 529px;
    min-height: 288px;
    max-width: 528px;
    z-index: 0;
    
    
    @include sm {
      padding-bottom: 0;
      order: 0;
      margin: 5rem 0;
      width: 60vw;
      display: flex;
      max-width: 60%;
      flex: 1;
      align-items: center;
    }

    @include md {
      margin: 10rem 0;
      width: 50vw;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      width: 11.8rem;
      height: 11.8rem;
      background: #ffffff;
      // border-radius: 50%;
      bottom: 3rem;
      left: -5rem;
      z-index: -1;
    }
    
    img {
      height: auto;
      max-width: 528px;
      width: 100%;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      width: 133px;
      height: 116px;
      background: url(//www.deakin.edu.au/__data/assets/file/0004/1913062/shapre-dee-yellow.svg) no-repeat center;
      top: 18rem;
      left: -3rem;
      z-index: 2;
      background-size: cover;

      @include sm {
        top: 9rem;
      }

      @include lg {
        top: 6rem;
        width: 237px;
        height: 206px;
        left: -9rem;
      }
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 6.1rem;
      height: 6.1rem;
      background: #ffffff;
      border-radius: 50%;
      bottom: 7rem;
      left: -3rem;
      z-index: -1;
      top: calc(100% - 200px);
      // top: calc(100% - 90px);

      @include lg {
        top: initial;
        width: 11.8rem;
        height: 11.8rem;
        left: -6rem;
      }
    }
  }
  .quote {
    @include sm {
      align-items: center;
      display: flex;
      position: relative;
    }
  }

  h4 {
    @extend %h4;
    color: #fff;
    margin: 2rem 1rem -4rem -1rem;
    letter-spacing: -0.4px;
    z-index: 1;
    position: relative;
    line-height: 1.08em;
    
    @include sm {
      position: absolute;
      order: 2;
      width: 50vw;
      max-width: 250px;
      margin: 0rem 2rem 0 0;
      min-width: 210px;
      left: calc(100% - 40px);
      top: 20%;
    }

    @include md {
      max-width: 320px;
    }

    @include lg {
      max-width: 420px;
      // top: calc(50% - 80px);
      left: calc(100% - 100px);
    }

    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      max-width: 470px;
      right: -10%;
    }

    @media only screen and (min-width: 1400px) and (max-width: 1600px) {
      max-width: 470px;
      right: 0%;
    }

    @include xxl {
      // max-width: 560px;
      right: auto;
      left: 44rem
    }
    
    &:before {
      content: "\201C";
      margin-left: -1.9rem;
      position: relative;
      margin-right: 0.5rem;
      @include sm {
        position: absolute;
        left: -2.4rem;
        margin-left: 0;
      }
    }
    &:after {
      content: "\201D";
    }

    $min_width: 768px;
    $max_width: 1200px;
    $min_font: 24px;
    $max_font: 38px;

    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    // line-height: 1.05em;
  }

  .student-name,
  .student-course {
    font-family: $font-stack-xl;
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    margin: 0;
    padding: 0 1rem;
  }
  .student-name {
    padding-top: 1rem;
  }
  .student-course {
    font-size: 1.2rem;
    margin-top: -1rem;
  }
  .student-info {
    position: relative;
    width: calc(100% + 35px);
    margin-bottom: 30px;


    @include sm {
      width: 100%;
      order: 3;
      position: absolute;
      left: calc(100% - 100px);
      bottom: 0px;
      margin-bottom: 0;
      max-width: 320px;
    }

    @include lg {
      left: 100%;
    }

    @include xxl {
      right: 0;
      left: 54rem;
    }
  }
}
