.select2 {
    width: 100%!important;
    border-bottom: none;
}
.select2 {
    &-container {
        background: $white;
        color: $charcoal;
        border-bottom: none!important;
    }
}
.select2-container--default  {
    max-width: 33.4rem;

    @include md {
        max-width: initial;
    }
    .select2-selection--single {
        border: none;
        padding: 1.6rem 1rem;
        border-radius: 0!important;
        height: auto!important;
        display: flex!important;
        flex: 0 0 100%;
        align-items: center;
        justify-content: space-between;

        @include md {
            padding: 1.6rem 1.8rem;
        }

        .select2-selection__rendered {
            font-family: $font-stack-os-regular;
            font-size: 1.3rem;
            line-height: 1em;
            padding-left: 0!important;
            padding-right: 1rem!important;

            @include md {
                font-size: 1.6rem;
                padding-left: 0.8rem!important;
                padding-right: 2rem!important;
            }
        }
    }
    .select2-results__option {
        background: $charcoal;
        color: $white;
        font-family: $font-stack-os-regular;
        font-size: 1.6rem;
        line-height: 2.63em;
        padding: 0.6rem 2rem;

        &--highlighted {
            &[aria-selected] {
                background-color: $magenta!important;
            }
        }

        &[aria-selected=true] {
            background-color: $charcoal!important;
        }
    }

    &:after {
        display: none!important;
    }
}

.select2-container--default:after {
display: none;
}
.select2-container--focus, .error + .select2-container--focus {
box-shadow: none!important; 
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 455px!important;
}

.select2-dropdown {
    border: 1px solid $charcoal!important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    // top: -1.8rem;
    // top: -3rem;
    z-index: 1051!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow  {
    background: url("//www.deakin.edu.au/__data/assets/file/0005/1913054/magenta-downarrow.svg") no-repeat center !important;
    height: 9px!important;
    position: initial!important;
    top: 0!important;
    right: 0!important;
    width: 17px!important;
    background-size: cover!important;

    b {
        display: none;
    }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow  { 
    transform: rotate(180deg);
}

.od-select {
    visibility: hidden;
}

.dayplanner {
    .select2-dropdown {
        top: 0;
    }
}