.magenta {
  background-color: $magenta;
}
.blue {
  background-color: $blue;
  color: $white;
}
.yellow {
  background-color: $yellow;
}
.teal {
  background-color: $teal;
}
.orange {
  background-color: $orange;
}
.btn {
  padding-left: 0;
}

.tiles-heading {
  background-color: #000;
  color: $yellow;
  font-family: $font-worldly-regular;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0 1rem;
  margin: -0.1rem 0;

  .arrowed-title{
    position: relative;
    $min_width: 768px;
      $max_width: 1200px;
      $min_font: 16px;
      $max_font: 22px;

      @include fluid-type($min_width, $max_width, $min_font, $max_font);

    &:before {

      @include md{
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 17px solid $yellow;
        position: relative;
        top: 0.2rem;
        margin-right: 1.6rem;
      }
      
    }
  }
}

.tiles-wrapper {
  background-color: #000;
  color: #fff;
  overflow-y: auto;
  position: relative;
  margin-bottom: -4.4rem;

  @include sm {
    margin-bottom: 7.6rem;
  }

  @include md {
    margin-bottom: 0;
    padding-bottom: 25rem;
  }
  .tiles {
    @include md {
      display: flex;
    }
    .place {
      @include md {
        // padding-right: 3rem;
      }

      p:first-child {
        @include md {
          height: 5.2rem;
          margin-bottom:0.6rem;
          font-family: $font-worldly-bold;
          font-size: 2rem;
          min-width: 12.2rem;
          overflow-y: hidden;
        }

        @include xxl {
          height: initial;
        }
      }
    }
    .date {
      
      p:first-child {
        @include md {
          font-family: $font-worldly-light;
          font-size: 1.6rem;
          font-weight: normal;
          margin-left: 0.75rem;
        }
      }
    }
  }
  .yellow-triangle {
    margin: 3rem 0 0 3rem;
    @include md {
      width: 8%;
    }
    z-index: 10;
    position: relative;
  }

  .first-md {
    @include md {
      order: -1;
    }
    
    p:first-child {
      font-family: $font-worldly-bold;
      position: relative;
      top: 0.3rem;
    }
  }
  p {
    margin: 0;
  }
  .wbl {
    @include md {
      border-left: 4px solid $magenta;
    }
  }
  .tile.gwp {
    @include md {
      // background-color: $blue;
      border-left: 4px solid $blue;
    }    
    a span{
    @include md {
      // color: #007d9b;
      }
    }
  }
  .gwf {
    .button {
      span {
        color: #000;
      }
    }
    @include md {
      border-left: 4px solid $yellow;
    }
  }
  .bur {
    @include md {
      border-left: 4px solid $teal;
    }
  }

  .tile {
    background-color: #363635;
    margin: 1rem;
    padding: 1rem 0;
    // flex: 1 1 0;
    flex: 1;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;

    @include md {
      padding: 2rem 1rem 3rem 1rem;
    }
    @include lg {
      padding: 2rem 2rem 3rem 2rem;
    }

    @media (max-width: #{$screen-sm-min}){
      a.button {
        display: flex;
        flex: 1;
        justify-content: center;
      }

      .col-xs-6 {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    &:hover {
      transition: all 0.3s ease;

      .magenta,
      .blue,
      .yellow,
      .teal {
        background: $white;
        transition: all 0.3s ease;
      }

      .magenta {
        color: $magenta;
      }

      .blue {
        color: $blue;
      }

      .yellow {
        color: $yellow;
      }

      .teal {
        color: $teal;
      }
    }

    &.wbl:hover {
      background-color: $magenta;
    }

    &.gwp:hover {
      background-color: $blue;
    }

    &.gwf:hover {
      background-color: $yellow;

      p, sup {
        color: #000;
      }
    }

    &.bur:hover {
      background-color: $teal;
    }

    .btn {
      min-width: 10.2rem;
    }

    .campus {
      height: 5.2rem;
      max-width: 17rem;
    }

    .date {
      @include md {
        flex-direction: row-reverse;
        display: flex;
        flex: 0 0 auto;
        flex-basis: 0;
        margin: 3rem 0;
      }
      
      sup {
        font-family: $font-stack-xl;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 300;
        margin-left: 0.5rem;
        top: 0.5rem;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;

        @include md {
          font-family: $font-worldly-light;
        }
      }

      p {
        font-family: $font-stack-xl;
        text-transform: uppercase;
        
        @include md {
          font-family: $font-worldly-light;
        }
        &:last-child {
          font-size: 3rem;
          font-weight: 700;
          overflow: unset;
          position: relative;
          top: 1rem;
          left: 0.5rem;
          lineheight: 1em;

          @include md {
            top: initial;
            left: initial;
          }
        }
      }
      .place {
        padding-left: 0;

        p {
          font-family: $font-worldly-regular;
          font-size: 1.4rem;
          &:first-child {
            font-size: 1.75rem;
            line-height: 2.6rem;
          }
        }
      }
    }

    span:not(.desktop-version) {
      display: inline-block;

      &.button {
        padding: 1rem 1.7rem;
      }
    }
  }

  .tri-outline.face-left {
    display: none;
    position: absolute;
    top: calc(125px - 32px);
    transform: rotate(90deg);
    right: calc(16.667% - 92px);
    max-width: 69px;
    height: 76px;
    width: 100%;

    @include xl {
      display: block;
    }
  }
}
