/** Donna Galletta | LIGHTBOX MARKUP **/

.lightbox {
  /** Default lightbox to hidden */
  display: none;
  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: flex;
  flex: 1;
  // display: block;
  
  visibility: visible;
  opacity: 1;
  transition: opacity 0.35s linear; 

  #videoModal .modal-header, #videoModal .modal-body {
    display: block;
  }
}

/** videoModal **/
#videoModal {
  border-radius: 0;
  width: 870px;
  margin: auto;
}
#videoModal .modal-header {
  // background: #000;
  border: 0;
  color: #fff;
  position: relative;
  // height: 35px;
  display: none;
}
#videoModal .modal-header h3 {
  font-size: 18px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
#videoModal .modal-body {
  // height: 489px;
  // height: 246px;
  padding: 0;
  max-height: none;
  overflow: hidden;
  display: none;
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;


  iframe#player {
    // max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
#videoModal .modal-footer:empty {
  display: none !important;
}
#videoModal .close {
  font-size: 0;
  margin: 0;
  opacity: 1;
  position: absolute;
  right: -5rem;
  text-shadow: none;
  top: -3rem;
  width: 38px;
  cursor: pointer;
  -webkit-appearance: none;
  background: none;
  border: none;

  &:before, &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.noscroll {
  overflow: hidden;
}